body {
    background-color: #39424E;
}

.container {
    clear: both;
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 auto;
}

#content .me-img {
    height: auto;
    width: auto;
    max-height: 480px;
    max-width: 480px;
    margin: 0 auto;
}


