<div id="main-carousel" class="carousel" data-flickity='{ "accessibility": true, "autoPlay": 6000, "fullscreen": true, "lazyLoad": 2, "pageDots": false, "prevNextButtons": true, "resize": true, "setGallerySize": true, "wrapAround": true }'>
    {{ range .Site.Data.instagram | shuffle | first 120 }}
    <div class="carousel-cell">
        <img alt="{{ .caption.text }}"
        src="{{ (index .image_versions2.candidates 0).url }}"
        data-flickity-lazyload-src="{{ ( index .image_versions2.candidates 0 ).url }}"
        />
        {{ if $.Site.Params.clickablePhotos }}
        <a href="{{ ( index .image_versions2.candidates 0 ).url }}">
            <div class="carousel-hover">
                <div class="carousel-hover-inner">
                    <p class="p">{{ .caption.text }}</p>
                </div>
            </div>
        </a>
        {{ else }}
        <div class="carousel-hover">
            <div class="carousel-hover-inner">
                <p class="p">{{ .caption.text }}</p>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
